<div class="api-explorer">

  <!-- ===================================================== -->
  <!-- PAGE HEADER -->
  <!-- ===================================================== -->

  <div class="page-header">

    <div class="page-header-content">

      <div class="page-icon">
        <i class="pi pi-code"></i>
      </div>

      <div>

        <h2>
          Patient API Explorer
        </h2>

        <p>
          Select an API, provide the required parameters
          and execute the request.
        </p>

      </div>

    </div>

  </div>



  <!-- ===================================================== -->
  <!-- AVAILABLE APIs -->
  <!-- ===================================================== -->

  <div class="api-selection-card">

    <div class="section-header">

      <div>

        <h3>

          <i class="pi pi-list"></i>

          Available APIs

        </h3>

        <p>
          Select an API to configure the request.
        </p>

      </div>

      <span class="api-count">

        {{
          getApis.length +
          postApis.length +
          multipartApis.length
        }}

        APIs

      </span>

    </div>



    <!-- ================================================= -->
    <!-- GET APIs -->
    <!-- ================================================= -->

    <div
      class="api-category"
      *ngIf="getApis.length > 0"
    >

      <div class="category-title">

        <i class="pi pi-download"></i>

        GET APIs

      </div>


      <div class="api-list">

        <button
          type="button"
          class="api-item"

          *ngFor="let api of getApis"

          

          (click)="selectApi(api)"
        >

          <span class="api-method get">
            GET
          </span>


          <span class="api-info">

            <strong>
              {{ api.name }}
            </strong>

            <small
              *ngIf="api.description"
            >
              {{ api.description }}
            </small>

          </span>


          <i
            class="pi pi-chevron-right api-arrow"
          ></i>

        </button>

      </div>

    </div>



    <!-- ================================================= -->
    <!-- POST APIs -->
    <!-- ================================================= -->

    <div
      class="api-category"
      *ngIf="postApis.length > 0"
    >

      <div class="category-title">

        <i class="pi pi-send"></i>

        POST APIs

      </div>


      <div class="api-list">

        <button
          type="button"
          class="api-item"

          *ngFor="let api of postApis"

          [class.active]="
            selectedPostApi?.id === api.id
          "

          (click)="selectPostApi(api)"
        >

          <span class="api-method post">
            POST
          </span>


          <span class="api-info">

            <strong>
              {{ api.name }}
            </strong>

            <small
              *ngIf="api.description"
            >
              {{ api.description }}
            </small>

          </span>


          <i
            class="pi pi-chevron-right api-arrow"
          ></i>

        </button>

      </div>

    </div>



    <!-- ================================================= -->
    <!-- MULTIPART APIs -->
    <!-- ================================================= -->

    <div
      class="api-category"

      *ngIf="multipartApis.length > 0"
    >

      <div class="category-title">

        <i class="pi pi-upload"></i>

        Multipart APIs

      </div>


      <div class="api-list">

        <button
          type="button"
          class="api-item"

          *ngFor="let api of multipartApis"

          [class.active]="
            selectedMultipartApi?.id === api.id
          "

          (click)="selectMultipartApi(api)"
        >

          <span class="api-method post">
            POST
          </span>


          <span class="api-info">

            <strong>
              {{ api.name }}
            </strong>

            <small
              *ngIf="api.description"
            >
              {{ api.description }}
            </small>

          </span>


          <i
            class="pi pi-chevron-right api-arrow"
          ></i>

        </button>

      </div>

    </div>

  </div>



  <!-- ===================================================== -->
  <!-- GET WORKSPACE -->
  <!-- ===================================================== -->

  <div
    class="api-workspace"
    *ngIf="selectedApi"
  >

    <!-- REQUEST -->

    <div class="request-panel">

      <div class="panel-header">

        <div class="panel-title">

          <span class="panel-icon request-icon">

            <i class="pi pi-send"></i>

          </span>


          <div>

            <h3>
              Request
            </h3>

            <span>
              Configure API parameters
            </span>

          </div>

        </div>


        <span class="method-badge get">
          GET
        </span>

      </div>



      <!-- ENDPOINT -->

      <div class="endpoint-box">

        <span class="endpoint-method">
          GET
        </span>

        <code>
          {{ selectedApi.url }}
        </code>

      </div>



      <!-- DESCRIPTION -->

      <div
        class="api-description"
        *ngIf="selectedApi.description"
      >

        <i class="pi pi-info-circle"></i>

        <span>
          {{ selectedApi.description }}
        </span>

      </div>



      <!-- PARAMETERS -->

      <div class="parameters-section">

        <div class="parameters-header">

          <div>

            <h4>
              Parameters
            </h4>

            <span>
              Enter the values required by this API.
            </span>

          </div>

          <i class="pi pi-sliders-h"></i>

        </div>



        <div
          class="form-group"

          *ngFor="
            let parameter
            of selectedApi.parameters
          "
        >

          <label
            [for]="parameter.name"
          >

            {{ parameter.label }}

            <span
              *ngIf="parameter.required"
              class="required"
            >
              *
            </span>

          </label>


          <div class="input-wrapper">

            <i class="pi pi-pencil"></i>

            <input
              pInputText

              [id]="parameter.name"

              type="text"

              [placeholder]="
                parameter.placeholder ||
                'Enter ' + parameter.label
              "

              [(ngModel)]="
                apiParams[parameter.name]
              "

              class="full-width"
            />

          </div>

        </div>

      </div>



      <!-- ACTIONS -->

      <div class="request-actions">

        <p-button
          label="Execute Request"
          icon="pi pi-play"

          [loading]="apiLoading"

          (onClick)="executeApi()"
        >
        </p-button>


        <button
          type="button"
          class="clear-button"

          (click)="clearRequest()"
        >

          <i class="pi pi-refresh"></i>

          Clear

        </button>

      </div>

    </div>



    <!-- RESPONSE -->

    <ng-container>
      <ng-container
        *ngTemplateOutlet="responsePanel"
      ></ng-container>
    </ng-container>

  </div>



  <!-- ===================================================== -->
  <!-- POST WORKSPACE -->
  <!-- ===================================================== -->

  <div
    class="api-workspace"
    *ngIf="selectedPostApi"
  >

    <!-- REQUEST -->

    <div class="request-panel">

      <div class="panel-header">

        <div class="panel-title">

          <span class="panel-icon request-icon">

            <i class="pi pi-send"></i>

          </span>


          <div>

            <h3>
              {{ selectedPostApi.name }}
            </h3>

            <span>
              Configure request body
            </span>

          </div>

        </div>


        <span class="method-badge post">
          POST
        </span>

      </div>



      <!-- ENDPOINT -->

      <div class="endpoint-box">

        <span class="endpoint-method">
          POST
        </span>

        <code>
          {{ selectedPostApi.url }}
        </code>

      </div>



      <!-- DESCRIPTION -->

      <div
        class="api-description"

        *ngIf="
          selectedPostApi.description
        "
      >

        <i class="pi pi-info-circle"></i>

        <span>
          {{ selectedPostApi.description }}
        </span>

      </div>



      <!-- DYNAMIC FIELDS -->

      <div class="parameters-section">

        <div class="parameters-header">

          <div>

            <h4>
              Request Body
            </h4>

            <span>
              Enter the values required by this API.
            </span>

          </div>

          <i class="pi pi-file-edit"></i>

        </div>



        <div
          class="form-group"

          *ngFor="
            let field
            of selectedPostApi.fields
          "
        >

          <label
            [for]="field.name"
          >

            {{ field.label }}

            <span
              *ngIf="field.required"
              class="required"
            >
              *
            </span>

          </label>


          <!-- TEXT / NUMBER / DATE -->

          <div
            class="input-wrapper"

            *ngIf="
              field.type === 'text' ||
              field.type === 'number' ||
              field.type === 'date'
            "
          >

            <i class="pi pi-pencil"></i>

            <input
              pInputText

              [id]="field.name"

              [type]="field.type"

              [placeholder]="
                field.placeholder ||
                'Enter ' + field.label
              "

              [(ngModel)]="
                postBody[field.name]
              "

              class="full-width"
            />

          </div>


          <!-- TEXTAREA -->

          <textarea
            *ngIf="
              field.type === 'textarea'
            "

            pInputText

            [id]="field.name"

            [placeholder]="
              field.placeholder ||
              'Enter ' + field.label
            "

            [(ngModel)]="
              postBody[field.name]
            "

            rows="4"

            class="full-width"
          >
          </textarea>


          <!-- BOOLEAN -->

          <input
            *ngIf="
              field.type === 'boolean'
            "

            type="checkbox"

            [(ngModel)]="
              postBody[field.name]
            "
          />

        </div>

      </div>



      <!-- ACTIONS -->

      <div class="request-actions">

        <p-button
          label="Execute Request"
          icon="pi pi-play"

          [loading]="apiLoading"

          (onClick)="executePostApi()"
        >
        </p-button>


        <button
          type="button"
          class="clear-button"

          (click)="clearRequest()"
        >

          <i class="pi pi-refresh"></i>

          Clear

        </button>

      </div>

    </div>



    <!-- RESPONSE -->

    <ng-container>
      <ng-container
        *ngTemplateOutlet="responsePanel"
      ></ng-container>
    </ng-container>

  </div>



  <!-- ===================================================== -->
  <!-- MULTIPART WORKSPACE -->
  <!-- ===================================================== -->

  <div
    class="api-workspace"

    *ngIf="selectedMultipartApi"
  >

    <!-- REQUEST -->

    <div class="request-panel">

      <div class="panel-header">

        <div class="panel-title">

          <span class="panel-icon request-icon">

            <i class="pi pi-upload"></i>

          </span>


          <div>

            <h3>
              {{ selectedMultipartApi.name }}
            </h3>

            <span>
              Configure multipart request
            </span>

          </div>

        </div>


        <span class="method-badge post">
          POST
        </span>

      </div>



      <!-- ENDPOINT -->

      <div class="endpoint-box">

        <span class="endpoint-method">
          POST
        </span>

        <code>
          {{ selectedMultipartApi.url }}
        </code>

      </div>



      <!-- DESCRIPTION -->

      <div
        class="api-description"

        *ngIf="
          selectedMultipartApi.description
        "
      >

        <i class="pi pi-info-circle"></i>

        <span>
          {{ selectedMultipartApi.description }}
        </span>

      </div>



      <!-- DYNAMIC FIELDS -->

      <div class="parameters-section">

        <div class="parameters-header">

          <div>

            <h4>
              Request Body
            </h4>

            <span>
              Enter values and upload required documents.
            </span>

          </div>

          <i class="pi pi-file-edit"></i>

        </div>



        <div
          class="form-group"

          *ngFor="
            let field
            of selectedMultipartApi.fields
          "
        >

          <label
            [for]="field.name"
          >

            {{ field.label }}

            <span
              *ngIf="field.required"
              class="required"
            >
              *
            </span>

          </label>



          <!-- TEXT FIELD -->

          <div
            class="input-wrapper"

            *ngIf="
              field.type === 'text'
            "
          >

            <i class="pi pi-pencil"></i>

            <input
              pInputText

              [id]="field.name"

              type="text"

              [placeholder]="
                field.placeholder ||
                'Enter ' + field.label
              "

              [(ngModel)]="
                multipartValues[field.name]
              "

              class="full-width"
            />

          </div>



          <!-- FILE -->

          <div
            class="upload-box"

            *ngIf="
              field.type === 'file'
            "
          >

            <i class="pi pi-upload"></i>


            <p-fileUpload

              mode="basic"

              chooseLabel="Choose File"

              chooseIcon="pi pi-upload"

              [accept]="
                field.accept || ''
              "

              [maxFileSize]="
                field.maxFileSize || 5000000
              "

              [auto]="false"

              [customUpload]="true"

              (onSelect)="
                onFileSelect(
                  $event,
                  field.name
                )
              "

              (onRemove)="
                onFileRemove(
                  field.name
                )
              "
            >
            </p-fileUpload>

          </div>



          <!-- SELECTED FILE -->

          <small
            *ngIf="
              selectedFiles[field.name]
            "

            class="selected-file"
          >

            <i class="pi pi-file"></i>

            {{
              selectedFiles[field.name]?.name
            }}

          </small>

        </div>

      </div>



      <!-- ACTIONS -->

      <div class="request-actions">

        <p-button
          label="Create"
          icon="pi pi-check"

          [loading]="apiLoading"

          (onClick)="executeMultipartApi()"
        >
        </p-button>


        <button
          type="button"
          class="clear-button"

          (click)="clearRequest()"
        >

          <i class="pi pi-refresh"></i>

          Clear

        </button>

      </div>

    </div>



    <!-- RESPONSE -->

    <ng-container>
      <ng-container
        *ngTemplateOutlet="responsePanel"
      ></ng-container>
    </ng-container>

  </div>



  <!-- ===================================================== -->
  <!-- REUSABLE CALLERS -->
  <!-- ===================================================== -->

  <app-api-caller

    (apiResponse)="
      onApiResponse($event)
    "

    (apiError)="
      onApiError($event)
    "

    (loadingChange)="
      onLoadingChange($event)
    "
  >
  </app-api-caller>



  <app-post-api-caller

    (apiResponse)="
      onPostApiResponse($event)
    "

    (apiError)="
      onPostApiError($event)
    "

    (loadingChange)="
      onPostLoadingChange($event)
    "
  >
  </app-post-api-caller>



  <app-multipart-api-caller

    (apiResponse)="
      onMultipartApiResponse($event)
    "

    (apiError)="
      onMultipartApiError($event)
    "

    (loadingChange)="
      onMultipartLoadingChange($event)
    "
  >
  </app-multipart-api-caller> 



  <!-- ===================================================== -->
  <!-- COMMON RESPONSE PANEL -->
  <!-- ===================================================== -->

  <ng-template #responsePanel>

    <div class="response-panel">

      <div class="panel-header">

        <div class="panel-title">

          <span class="panel-icon response-icon">

            <i class="pi pi-reply"></i>

          </span>


          <div>

            <h3>
              Response
            </h3>

            <span>
              API response data
            </span>

          </div>

        </div>



        <div class="response-actions">

          <span
            class="status-code"

            [class.error]="apiError"
          >

            <i
              class="pi"

              [ngClass]="
                apiError
                  ? 'pi-times-circle'
                  : 'pi-check-circle'
              "
            ></i>


            {{
              apiError
                ? 'Error'
                : '200 OK'
            }}

          </span>


          <p-button

            label="Copy"

            icon="pi pi-copy"

            severity="secondary"

            size="small"

            [disabled]="
              apiResponse == null
            "

            (onClick)="
              copyResponse()
            "
          >
          </p-button>

        </div>

      </div>



      <!-- RESPONSE BODY -->

      <div class="json-response">


        <!-- EMPTY -->

        <div
          class="empty-response"

          *ngIf="
            apiResponse == null &&
            !apiLoading &&
            !apiError
          "
        >

          <i class="pi pi-code"></i>

          <h4>
            No response yet
          </h4>

          <p>
            Execute an API request to see
            the response here.
          </p>

        </div>



        <!-- LOADING -->

        <div
          class="loading-response"

          *ngIf="apiLoading"
        >

          <i
            class="pi pi-spin pi-spinner"
          ></i>

          <span>
            Calling API...
          </span>

        </div>



        <!-- RESPONSE -->

        <pre
          *ngIf="
            apiResponse != null &&
            !apiLoading
          "
        ><code>{{ apiResponse | json }}</code></pre>



        <!-- ERROR -->

        <pre
          class="error-response"

          *ngIf="
            apiError &&
            !apiLoading
          "
        ><code>{{ apiError | json }}</code></pre>

      </div>

    </div>

  </ng-template>

</div>